.list{
    padding: 15px;
    width: 600px;
    padding-left: 20px;
}
.listLi{
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
   
}
.listButton{
margin-left: 50px;
}