.list{
    padding: 10px;
    width: 600px;
    
    
}
.listLi{
    font-size: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
   
}
.listButton{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.listButton:hover{
    background-color: azure;
}